<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uos.codingsroom.ddmgroup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 2 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- General permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM permissions -->
    <permission
        android:name="uos.codingsroom.ddmgroup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="uos.codingsroom.ddmgroup.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/real_app_name"
        android:theme="@style/NoTitleBarTheme" >
        <activity
            android:name="uos.codingsroom.ddmgroup.KakaoLoginActivity"
            android:label="@string/real_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.ContentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.KakaoTalkSignupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.SettingActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.NoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.ModifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.AdminActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.ManageMemberActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="uos.codingsroom.ddmgroup.ManageBoardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uos.codingsroom.ddmgroup.NoticeRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 4 -->
        <activity
            android:name="com.kakao.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 5 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <service android:name="uos.codingsroom.ddmgroup.GCMIntentService" />

        <!-- GCM 서비스로부터 브로드캐스트 메시지를 받을 수신자 -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- 메시지 수신 -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- 등록 ID 수신 -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="uos.codingsroom.ddmgroup" />
            </intent-filter>
        </receiver>
    </application>

</manifest>